<!DOCTYPE html>
<html>
<head>
<style>
.cities {
    background-color:black;
    color:red;
    margin:20px;
    padding:20px;
}	
</style>
</head>

<body>

<div class="cities">
<h2>PokerSF</h2>

<p>The Bay Area loves Poker. Poker loves the Bay Area. This is their Cupid.</p>

</div> 

</body>
</html>
