<!DOCTYPE html>
<html>
<head>
<style>
.cities {
    background-color:black;
    color:red;
    margin:20px;
    padding:20px;
}	
</style>
</head>
<div class="center jumbotron">
    <h1>Welcome to Payne Poker</h1>
    
    <h2>The Bay Area loves Poker. Poker loves the Bay Area. This is their OkCupid.</h2>
    
    <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<body>

<div class="cities">

<p>Join us. It'll be fun. :) </p>

</div> 

</body>
</html>
