@import "bootstrap-sprockets";
@import "bootstrap";

/* background */



/* universal */

body {
  padding-top: 60px;
  background-image: url(http://i.imgur.com/wX0NsFh.jpg);
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  background-color: rgba(1, 0, 0, 0);
}

.center h1 {
  margin-bottom: 10px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: rgba(255,255,255, 100);
  font-weight: bold;
  text-shadow: 2px 2px rgba(0,0,128,100);
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
